.IdCard{
  display: flex;
  border: 1px solid #000;
  width: 30vw;
  margin: 5px;
}
.IdCard img {
  margin: 5px;
  width: 160px;   /* adjust as needed */
  height: 160px;
}

.IdCard .bold{
  font-weight: bold;
}
.IdCard .noDots{
  list-style-type: none;
}

.Random{
  border: 1px solid #000;
}
