.CreditCard{
  font-size:28px;
  font-weight:bold;
  border: 1px solid #000;
  border-radius: 28px;
  width: 600px;
}
.CreditCard .my-img{
  margin-left: 66%;
  align-self: end;
  height: 64px;
  width: auto;
} 
.CreditCard h1{
  text-align: center;
}
